{% extends './layout.html' %}

{% block content %}
    <div class="row green not-found">
        <div class="container ">
            <div class="row green col-md-12 ">
                <h1>Interna greška servera</h1>
                <h1>Kliknite <a href="http://faks-up.org"> ovdje</a> kako bi ponovno pokušali pristupiti stranici.</h1>
            </div>
        </div>
</div>
{% endblock %}