{% extends './layout.html' %}


{% block head %}
    <link rel="stylesheet" href="stylesheets/screen.css">
    <link rel="stylesheet" href="stylesheets/lightbox.css">
{% endblock %}

{% block content %}

<div class="row green not-found">
    <div class="container ">
        <div class="row green col-md-12 ">

            <h1>Galerija slika</h1>
            <div class="image-row">
                <div class="image-set">
                    <a class="example-image-link" href="images/gallery/img_1.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_1.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_2.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_2.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_3.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_3.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_4.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_4.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_5.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_5.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_6.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_6.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_7.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_7.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_8.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_8.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_9.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_9.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_10.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_10.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_11.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_11.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_12.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_12.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_13.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_13.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_14.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_14.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_15.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_15.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_16.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_16.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_17.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_17.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_18.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_18.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_19.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_19.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_20.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_20.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_21.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_21.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_22.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_22.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_23.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_23.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_24.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_24.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_25.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_25.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_26.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_26.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_27.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_27.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_18.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_28.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_29.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_29.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_30.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_30.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_31.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_31.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_32.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_32.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_33.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_33.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_34.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_34.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_35.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_35.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_36.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_36.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_37.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_37.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_38.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_38.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_39.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_39.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_40.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_40.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_41.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_41.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_42.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_42.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_43.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_43.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_44.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_44.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_45.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_45.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_46.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_46.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_47.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_47.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_48.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_48.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_49.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_49.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_50.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_50.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_51.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_51.JPG" alt=""/></a>
                    <a class="example-image-link" href="images/gallery/img_52.JPG" data-lightbox="example-set" data-title="Faks-up konferencija 2015"><img class="example-image" src="images/thumbs/img_52.JPG" alt=""/></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block foot %}
    <script src="javascripts/lightbox.js"></script>
{% endblock %}