{% extends './layout.html' %}

{% block content %}
<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&v=3.exp 	"></script>

<div class="row green">
    <p class="ciljevi"> -> Konferencija se održala a kako je sve prošlo možete <a href="/pregled"> pročitati </a> i <a href="/galerija"> pogledati...</a></p>
    <img alt="Conference photo" src="images/conference_cover.jpg" width="800px" />
</div>
<div class="row green">
    <div class="container">
        <div class="col-md-12">
            <h2 >faks-up 2015 </h2>
            <p class="ciljevi">
                Dragi studenti(ce) i srednjoškolci(ke), organiziramo konferenciju promoviranja start-up kulture. Odabrani govornici predstavit će razne aspekte pokretanja start-up-a, programe financiranja, sudjelovanje u inkubatorima i akademijama, mogućnosti suradnje s etabliranim IT tvrtkama, iskustva koja su doživjeli pri pokretanju uspješnih projekata i još mnogo toga.
                Ukratko, nudimo mnoštvo korisnih informacija za poduzetnike početnike (sve osim same ideje), ali ne samo to, na konferenciji možete ostvariti i direktne kontakte s istaknutim pojedincima start-up zajednice. Ako Vam se čini zanimljivo obratite pozornost na desnu stranu i dugmić Prijava, broj mjesta je ograničen pa...
            </p>
        </div>
    </div>
</div>

<div id="program" class="row gray">
    <div class="col-md-12">

        <h2 >Program</h2>
            <pre>
<p class="time">9:00-9:30:</p> Registracija sudionika

<p class="time">9:30-10:00:</p> Otvaranje konferencije - uvodne riječi
prof.dr.sc. Vedran Mornar, ministar znanosti, obrazovanja i sporta
Nadica Žužak, pomoćnica ministra poduzetništva i obrta
dr.sc. Sandra Švaljek, zamjenica gradonačelnika grada Zagreba
Ankica Paun Jarallah, ravnateljica Hrvatskog zavoda za zapošljavanje


<p class="time">10:00 - 10:45:</p> Panel I - Kako pokrenuti projekt (izlazak iz garaže) - Predavaonica 2
Startup inkubator, zašto i kako se uključiti - Tihana Marelja, Zagrebački Inkubator Poduzetništva
Razvojna agencija kao podrška novim poduzetnicima - Tamara Didak, Plavi ured - Poduzetnički centar Grada Zagreba
Uloga zaštite intelektualnog vlasništva u razvoju inovacija - Tanja Milović, Državni zavod za intelektualno vlasništvo
Mali odmor (5min)

<p class="time">10:50 - 11:35:</p> Panel II - Kako financirati projekt - Predavaonica 2
Kako se predstaviti ulagačima (poslovnim anđelima i investicijskim fondovima) - Mihovil Barančić
Mogućnosti crowdfunding financiranja - Tomislav Kotnik, VIDI
Programi mikrokreditiranja kroz HAMAG BICRO - mr.sc. Darko Liović, HAMAG BICRO
Mali odmor (5min)

<p class="time">11:40 – 12:25:</p> Panel III - Kako smo uspjeli (uspješne start-up tvrtke, preko trnja do ...) - Predavaonica 2
Pet minuta - Luka Abrus, CEO
Repsly - Marko Linke, CTO
Infinum - Tomislav Car, CEO
<p class="time">12:25 – 12:40:</p> Samo za odlikaše  - Idea Knockout 2015, Bugovo natjecanje tehnoloških ideja
Tko, što i kako se može prijaviti na natjecanje ideja, nagrada:<br>putovanje za dvoje u Las Vegas na najveći svjetski sajam novih tehnologija CES 2016 i zakup štanda na sajmu  - Dragan Petric, Bojan Mušćet
Veliki odmor (15 min)
<br>
(Otvoreni dio)
<p class="time">12:55 - 13:40:</p> IV Rasprava po panelima (Predavaonice 1, 2, 3)
Odgovaranje na pitanja i rasprava između posjetitelja i prezentera, kontakti i razmjena iskustava
            </pre>
    </div>
</div>

<div id="sudionici"  class="row green">
    <h1 >Sudionici panela</h1>
    <div class="col-md-12">
        <div class="col-lg-4">
            <a href="https://hr.linkedin.com/pub/tomislav-kotnik/10/67a/3b5"><img class="img-circle g" src="images/kotnik.jpg" alt="Tomislav Kotnik" style="width: 140px; height: 140px;"></a>
            <h3>Tomislav Kotnik</h3>
            <p>CEO VIDI</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a href="http://hr.linkedin.com/in/mbarancic"><img class="img-circle g" src="images/barancic.jpg" alt="Mihovil Barančić" style="width: 140px; height: 140px;"></a>
            <h3>Mihovil Barančić</h3>
            <p>predsjednik udruge poslovnih anđela CRANE,suosnivač ZIP-a </p>   
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a href="https://www.linkedin.com/pub/tihana-marelja/32/69/aa7"><img class="img-circle g" src="images/marelja2.jpg" alt="Tihana Marelja" style="width: 140px; height: 140px;"></a>
            <h3>Tihana Marelja</h3>
            <p>koordinaorica ZIP inkubatora</p>
        </div><!-- /.col-lg-4 -->
    </div>
    <div class="col-md-12">
        <div class="col-lg-4">
            <a href="http://www.linkedin.com/in/lukaabrus"><img class="img-circle g" src="images/luka-abrus.jpg" alt="Luka Arbus" style="width: 140px; height: 140px;"></a>
            <h3>Luka Abrus</h3>
            <p>CEO i suvlasnik Pet minuta</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a href="http://www.linkedin.com/in/tomislavcar"><img class="img-circle g" src="images/tomislav car.jpg" alt="Tomislav Car" style="width: 140px; height: 140px;"></a>
            <h3>Tomislav Car</h3>
            <p>CEO i osnivač Infinum </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a href="https://www.linkedin.com/pub/marko-linke/7/26b/a13"><img class="img-circle g" src="images/linke.jpg" alt="Marko Linke" style="width: 140px; height: 140px;"></a>
            <h3>Marko Linke</h3>
            <p>CTO i suosnivač Repsly</p>
        </div><!-- /.col-lg-4 -->
    </div>
    <div class="col-md-12">
        <div class="col-lg-4">
            <img class="img-circle g" src="images/Profilna-Tamara.jpg" alt="Tamara Didak" style="width: 140px; height: 140px;">
            <h3>Tamara Didak</h3>
            <p> voditeljica Plavog ureda, Poduzetnički centar Grada Zagreba </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a href="https://www.linkedin.com/pub/tanja-milovic/35/16a/486"><img class="img-circle g" src="images/tanja_milovic.jpg" alt="Tanja Milović" style="width: 140px; height: 140px;"></a>
            <h3>Tanja Milović</h3>
            <p>voditeljica samostalne službe za izobrazbu, promicanje i razvoj u Državnom zavodu za intelektualno vlasništvo </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a href="https://www.linkedin.com/pub/darko-liovic/1a/71a/551"><img class="img-circle g" src="images/darko_liovic.jpg" alt="Darko Liović" style="width: 140px; height: 140px;"></a>
            <h3>Darko Liović</h3>
            <p>predsjednik uprave HAMAG BICRO </p>
        </div><!-- /.col-lg-4 -->
    </div>
    <div class="col-md-12">
        <div class="col-lg-4">
            <a href="https://www.linkedin.com/in/draganpetric"><img class="img-circle g" src="images/petric.jpg" alt="Dragan Petrić" style="width: 140px; height: 140px;"></a>
            <h3>Dragan Petric</h3>
            <p>izvršni urednik Bug</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a href="https://www.linkedin.com/in/bojanmuscet"><img class="img-circle g" src="images/muscet.jpg" alt="Bojan Mušćet" style="width: 140px; height: 140px;"></a>
            <h3>Bojan Mušćet</h3>
            <p>Urednik  i PR ekspert Hrvatski Telekom</p>
        </div><!-- /.col-lg-4 -->
    </div>
</div><!-- /.row -->

<div id="partneri" class="row featurette gray">
    <div class="col-md-12">
        <h1  class="featurette-heading">Partneri<span class="text-muted"></span></h1>
        <div class="col-lg-4">
            <a href="http://www.minpo.hr/" ><img class="img-circle gr" src="images/minpo.jpg" alt="MINPO" style="width: 140px; height: 140px;"></a>
            <h2>MINPO</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a href="http://www.zipzg.com" ><img class="img-circle gr" src="images/zip.jpg" alt="ZIP" style="width: 140px; height: 140px;"></a>
            <h2>ZIP</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a href="http://www.raza.hr" ><img class="img-circle gr" src="images/tpz.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;"></a>
            <h2>TPZ</h2>
        </div><!-- /.col-lg-4 -->
     
        </div>
        <div class="col-md-12">
               <div class="col-lg-4">
            <a href="http://www.storm.hr/hr" ><img class="img-circle gr" src="images/storm.gif" alt="Generic placeholder image" style="width: 140px; height: 140px;"></a>
            <h2>Storm</h2>
        </div><!-- /.col-lg-4 -->
         <div class="col-lg-4">
            <a href="http://www.dell.com" ><img class="img-circle gr" src="images/dell.png" alt="Generic placeholder image" style="width: 140px; height: 140px;"></a>
            <h2>Dell</h2>
        </div><!-- /.col-lg-4 -->
            <a href="http://www.kodeks.hr" ><img class="img-circle gr" src="images/kodeks.png" alt="Generic placeholder image" style="width: 140px; height: 140px;"></a>
            <h2>Kodeks</h2>
        </div><!-- /.col-lg-4 -->
        </div>
    </div>
</div>


<div id="sponzori" class="row green">

    <div class="col-md-12">
        <h1 >Medijski sponzori </h1>
        <a href="http://www.radiostudent.hr/" ><img src="images/Novi logo RS.jpg" style="width:260px"/></a>
        <a href="http://www.veselihackeri.com" ><img src="images/veseli_hackeri.jpg" style="width:260px"/></a>
        <a href="http://www.bug.hr" ><img src="images/bug.jpg" style="width:260px"/></a>
        <a href="http://www.netokracija.com" ><img src="images/netokracija.jpg" style="width:260px"/></a>
        <a href="http://www.infotrend.hr" ><img src="images/infotrend.jpg" style="width:260px"/></a>
	<a href="http://www.infotrend.hr" ><img src="images/banka.jpg" style="width:260px"/></a>
    </div>
</div>


<div id="lokacija" class="row featurette gray">
    <div class="col-md-12 map">

        <h2 class="featurette-heading">Lokacija<span class="text-muted"></span></h2>
        <!--<img src="images/karta.png"/>-->
        <div id="map-canvas">

        </div>
        <!--<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2781.166133443656!2d15.9643048!3d45.8079311!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2shr!4v1421144371615" width="1000" height="450" frameborder="0" style="border:0"></iframe>-->
    </div>
</div>

<div class="row green">
    <div class="col-md-12 contact">
        <a name="kontakt"></a>
        <h2>Kontakt </h2>
        <br>
        e-mail: info@faks-up.org
        <br>
        tel: 01/3764200
        <br>
        Klaićeva 7, 10000 Zagreb
        <br>
        <br>
        <br>
    </div>
</div>

<div id="up">

</div>
<div id="flogo">

</div>

<div class="social">
    <a class="in" href="https://www.linkedin.com/company/952085?trk=tyah&trkInfo=tarId%3A1422545749237%2Ctas%3Avsite%2Cidx%3A2-1-2"></a>
    <a class="t" href="https://twitter.com/vsite_hr"></a>
    <a class="fb" href="https://www.facebook.com/VSITE"> </a>
    <a class="fbe" href="https://www.facebook.com/events/1530605910545113/?ref_newsfeed_story_type=regular"></a>
</div>

<div id="signup">
    <!--<p>Prijava</p>-->
    <span> P </span>
    <span> r </span>
    <span> i </span>
    <span> j </span>
    <span> a </span>
    <span> v </span>
    <span> a </span>
</div>

<!--<div class="signup_arrow"></div>-->

<div id="dialog" title="Prijava za konferenciju">
    <form action="" method="post" id="prijava">
        <label>Ime:</label>
        <input id="name" name="name" type="text">
        <label>Prezime:</label>
        <input id="lastname" name="lastname" type="text">
        <label>E-mail:</label>
        <input id="email" name="email" type="text">
        <input type="submit" value="Prijavi se" disabled>
        <div id= "error_validate" class="error">
            Molimo ispunite sva polja!
        </div>
        <div id="error_mail" class="error">
            Neispravna mail adresa!
        </div>
        <div id="error_duplicate" class="error">
            Mail adresa je već prijavljena!
        </div>
        <div id="msg" style="display:none">
            Prijava je zaprimljena, hvala Vam, vidimo se!
        </div>
        <div id="block">
            Konferencija je nažalost prošla :-( <br>
            <a href="/pregled" style="color:blue">Ovdje</a>  možete vidjeti kako je bilo!
        </div>
    </form>
</div>
{% endblock %}

{% block foot %}
    <script src="javascripts/script.js"></script>
{% endblock %}
