
<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="favicon.ico">-->
    <link rel="icon" type="image/png" href="/images/favico2.png" />

    <title>{{title}}</title>


    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/overcast/jquery-ui.css" rel="stylesheet">
    {% block head %}{% endblock %}


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-59101884-1', 'auto');
        ga('send', 'pageview');

    </script>
    
</head>
<!-- NAVBAR
================================================== -->
<body id="top">
<div class="navbar-wrapper">
    <nav class="navbar navbar-inverse navbar-static-top green " role="navigation">
        <div class="container">
            <div id="navbar">
                <div class="col-md-12 ">
                    <div class="col-md-4">
                        <img src="/images/faksup_logo7.png"  width="250px" />

                    </div>

                    <div class="col-md-8 head" >
                        19.2.2015.
                        <br>
                        od 09:30 do 14:00
                        <br>
                        Klaićeva 7, Zagreb
                        <br>Visoka škola za informacijske tehnologije
                    </div>
                    <!--<div class="col-md-6">
                        19.2.2015.
                    Klaićeva 7, Zagreb
                    </div>-->
                </div>
                <div class="col-md-12 menubar">
                    <!--<div class="col-md-2">
                        <div class="small-logo">
                          <img class="z" src="/images/faksup_logo7.png" height="100px" width="100px" />

                        </div>
                    </div>-->
                    <div class="col-md-6" >
                        <div class="col-md-12" >
                            <div class="col-md-6 vlogo" >
                                <a href="http://www.vsite.hr"><img src="/images/vsite.png" height="75px" /> </a>
                            </div>
                            <div class="col-md-6 text-logo" >
                                Visoka škola za informacijske tehnologije
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="nav navbar-nav menu gallery">
                            <li class="po"><a href="/">Početna</a></li>
                            <li><a href="/#program">Program</a></li>
                          <!--  <li><a href="#sudionici">Sudionici</a></li> -->
                            <li><a href="/#partneri">Partneri</a></li>
                            <li><a href="/#sponzori">Sponzori</a></li>
                            <li><a href="/#lokacija">Lokacija</a></li>
                            <li><a class="za" href="/#kontakt">Kontakt</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </nav>


</div>

{% block content %}{% endblock %}

<!-- /END THE FEATURETTES -->
<!-- FOOTER -->
<footer class="gray">
    <p class="cp">&copy; 2014 VsiTe </p>
</footer>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

<script src="/javascripts/bootstrap.min.js"></script>

{% block foot %}{% endblock %}


</body>
</html>