{% extends './layout.html' %}

{% block content %}

    <div class="row green not-found">
            <div class="container ">
                    <div class="row col-md-12 ">
                        <p class="ciljevi">
                            Faks-up 2015 konferencija održala se kako je i planirano u četvrtak, 19.02.2015 na <a href="http://www.vsite.hr">Visokoj školi za informacijske tehnologije</a>. Konferencija je izazvala izniman interes, posebice među studentima tako da se zbog povećanog broja posjetitelja događaj simultano prenosio i u susjednoj predavaonici.
                            </p><br>
                        <img alt="Conference photo" src="images/conference_cover2.jpg" width="800px" /><br><br>
                        <p class="ciljevi">
    Uvodne riječi održali su dekan VSITE-a dr.sc. Milorad Nikitović,  Ankica Paun Jarallah ravnateljica Hrvatskog zavoda za zapošljavanje, Irena Petrušić iz Agencije za visoko obrazovanje i Antonia Mršić iz Ministarstva poduzetništva i obrta.<br><br>
    Konferencija se sastojala od tri tematska panela u trajanju od jednog školskog sata.<br><br>
    Prvi panel pod nazivom “Izlazak iz garaže” predstavio je podršku koju poslovni inkubatori mogu pružiti novim poduzetnicima. Tihana Marelja je objasnila koncept Zagrebačkog inkubatora poduzetništva te pozvala nazočne da se prijave sa novim kreativnim projektima. Poticajno okruženje u ZIP-u i tromjesečni rad s mentorima te kontakti s vanjskim investitorima i medijima koji se mogu postići kroz ovaj proram mogu značajno pomoći u oživljenju poduzetničke ideje. Tehnološki park i novoosnovana Razvojna agencija grada Zagreba pružaju podršku poduzetnicima kroz brojne programe i aktivnosti, istaknula je u svojoj prezentaciji Tamara Didak. Tema zaštite intelektualnog vlasništva kod startup projekata izazvala je izniman interes sudionika. Tanja Milović iz Državnog zavoda za intelektualno vlasništvo prezentirala je osnovne koncepte. Softver u EU ne može biti predmet patenta (za razliku od SAD), ali se može zašititi kao autorsko djelo i sukladno tome licencirati. Zaštita žiga (logo) je također predstavljena kao interesantna i ne (pre)skupa opcija za nove tvrtke.<br><br>
    Drugi panel je razmatrao mogućnosti financiranja novih projekata. Predsjednik udruge CRANE Mihovil Barančić pojasnio je kako i zašto postići suradnju s poslovnim anđelima te što privatni investitori očekuju od kandidata za financiranje. Crowdfunding kampanje kao novi način prikupljanja sredstava i predstavljanja budućim kupcima trenutno su vrlo aktualne što nam je prezentirao Tomislav Kotnik, glavni urednik VIDI časopisa. Problem dvostrukog oporezivanja sa SAD-om nije sprijećio neke uspješne kampanje i kod nas. Monika Šućur iz HAMAG/BICRO agencije predstavila je programe Razum i Icro i mogućnosti dobivanja bespovratnih poticaja te mikrokreditiranja. Naglašene  su trenutno slabo korištene mogućnosti korištenja sredstava iz EU natječaja.<br><br>
    Kao uvod u treći panel Dragan Petric iz Buga i Bojan Mušćet iz Hrvatskog Telekoma prezentirali su i zaprimali početne prijave za Bug Idea Knockout, natjecanje startup-ova s glavnom nagradom, putem u Las Vegas na CES 2016 sajam. U panelu sudjelovali su Luka Abrus iz Pet minuta, Tomislav Car iz Infinuma i Marko Linke, Repsly. Svojim pričama o prvim danima i konačnom uspjehu nastojali su inspirirati buduće mlade poduzetnike. Složili su se da je osnovno uzeti u obzir zahtjeve tržišta i kreirati proizvod koji se može plasirati. Kad bi danas ponovo počinjali više pažnje bi posvetili ispitivanju tržišta prije nego što krenu s razvojem. Hrvatsko tržište je relativno malo i ima posebna pravila tako da bi novi projekti u startu trebali biti koncetrirani i na korisnike u inozemstvu. Savjetovali su novim poduzetnicima da se ne boje neuspjeha jer su promjene i neuspjeli pokušaji dio startup putovanja, a trud se na kraju ipak isplati.
    <br>
    <br>
    Pogledajte kako je bilo u našoj <a href="/galerija">galeriji! </a>
                        </p>
                    </div>
            </div>
    </div>
    <div class="row gray"></div>

{% endblock %}

