@font-face {
    font-family: SketchFlow;
    src: url(../fonts/SketchFlow.ttf);
}

.navbar h2{
    display: inline;
}


.green{
    background-color: #3aafa0;
    /*background-color: #fca479; /*orange*/
    /*background-color: #e7a04d;*/
    /*border-bottom: solid 1px #000000;*/
    text-align: center;
    /*
    padding-top: 50px;
    padding-bottom: 50px;
    */
}

.gray{
    background-color: #f2f2f2;
    text-align: center;
   /* border-bottom: solid 1px #000000;*/
    /*
    padding-top: 50px;
    padding-bottom: 50px;*/
}

.row {
    text-align: center;
    /*border-top: 1px solid black;*/

    margin-right: 0;
    margin-left: 0;
    padding-top: 55px;
    padding-bottom: 55px;

}




body{
   /* background-color: #a2a2a2;*/
   font-family: SketchFlow;

}

.navbar-nav {
    float: right;
}

.navbar {
    margin-bottom: 0;
    font-family: SketchFlow;
}

.box{
    height: 400px;
    min-width: 60%;
    display: block;
}

pre {
    background-color: #f2f2f2;
    font-size: 14pt;
    font-weight: bold;
    font-family: SketchFlow;
    border: none;
}

.ciljevi{
    background-color: #3aafa0;
    font-size: 16pt;
    font-weight: bold;
    z-index: 0;
    /*margin-top: 10px;*/
    padding: 0 !important;

}

.act{
    background-color: #3aafa0;
}

.menu{
	color:#000;
}

.navbar-inverse{
    border:none;
    background: #3aafa0 url(../images/head3.png)  no-repeat top center;
    background-size: cover;
    padding-top: 75px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #000000;
    font-size: 16pt;
    /*border-right: 2px solid white;*/
    
}

.h {
    border-left: 1px solid black;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
    color:#3aafa0;
}

.video_box{
    border: 3px solid black;
    margin: 25px 10px;
    min-width: 400px;
    min-height: 400px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    box-shadow: 10px 10px 5px #888888;
}

.sign_box{
    border: 3px solid black;
    margin: 25px;
    min-width: 250px;
    min-height: 75px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;  
    box-shadow: 10px 10px 5px #888888;
	cursor: pointer;

}

.head{
    margin: 20px auto;
    font-size: 28pt;
    font-weight: bold;
    color:#000;
    z-index: 999;
    text-align: left;
    color: #f2f2f2;
    /*background: #3aafa0 url(../images/head3.png)  no-repeat center center;*/

}

.he{
    /*background: url(../images/home-networking.jpg)  no-repeat center center;*/
}

.map{
    margin: 0px 0px;
}

.pull-right a{
    text-decoration: none;
    color: #000000;
}

.cp {
    font-size: 1.2em;
}

.pull-right a:hover{
    color: #3aafa0; 
}

#up{
	/*background-color: #3aafa0;*/
	color:#000000;
	width: 50px;
	height: 50px;	
	position: fixed;
	bottom: 30px;
	/*left: 50px;*/
	right: 50px;
	background: url(../images/arrow.png)  no-repeat center center;
	
	/*opacity: 0.1;*/
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	opacity: 0.4;
	cursor: pointer;
}

#up a{
	width: 100px;
	display: block;
	text-align: center;
	/*font: 11px/100% Arial, Helvetica, sans-serif;*/
	text-transform: uppercase;
	text-decoration: none;
	/*color: #bbb;*/
	/*background: #f2f2f2 url(images/arrow.png) no-repeat center center;*/

}

#up:hover{
	opacity: 0.9;
}

#up a:hover {
	color: #000;
}


input[type=text] {
	   font-family: SketchFlow;
margin-top:5px;
margin-bottom:20px;
width:96%;
border-radius:5px;
border:0;
padding:5px 0
}
#name, #lastname, #email {
padding-left:10px
}
input[type=submit] {
width:30%;
border:1px solid #59b4d4;
background:#555;
color:#f2f2f2;
padding:3px 0;
border-radius:5px;
margin-left:33%;
cursor:pointer;
}
input[type=submit]:hover {
border:1px solid #555;
background:#3aafa0;
color:#f2f2f2;
}
.ui-dialog .ui-dialog-content {
font-family: SketchFlow;
padding:2em
}

.ui-dialog-title{
	font-family: SketchFlow;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.msg, .error, .error_mail{
	display: none;
	font-size: 14pt;
}

.error, .error_mail{
	color: #ff0000;
}

#map-canvas{
    height: 500px;
    width: 70%;
    margin: 0 auto;
}

.social{
    position: fixed;
    height: 90px;
    width: 30px;
    left: 5px;
    top:40%;
    z-index: 99999;
    background-color: #2f2f2f;
}

#signup{
    position: fixed;
    
    height:200px;
    /*width: 30px;*/
    right: 0px;
    top:35%;
    z-index: 99999;
    width: 60px;
    background-color: #2f2f2f;
    color: #f2f2f2;
    /*background: url(../images/prijava.png) no-repeat center center;*/
    /*-webkit-transform: rotate(90deg); 
    transform: rotate(90deg);*/
    border-radius: 20px 0 0 20px ;
    font-size: 14pt;
    text-align: center;
    cursor: pointer;
    padding-top: 7px;

}

#signup span{
    display: block;
}

#signup:hover{
    color: #3aafa0;

}


.fb{
        background: #f2f2f2 url(../images/fb.png) no-repeat center center;
        height: 30px;
        width: 30px;
        display: block;

}

.fbe{
        background: #f2f2f2 url(../images/fbe.png) no-repeat center center;
        height: 30px;
        display: block;
}

.t{
        background: #f2f2f2 url(../images/twitter.png) no-repeat center center;
        height: 30px;
        width: 30px;
        display: block;
}

.in{
        background: #f2f2f2 url(../images/linkedin.png) no-repeat center center;
        height: 30px;
        width: 30px;
        display: block;
}

.t:hover, .fb:hover, .fbe:hover, .in:hover{
    opacity: 0.8;
    background-color: #3aafa0; 
}

.menubar{
    position: fixed;
    top:0;
    width: 100%;
    left:0;
    z-index: 999999999;
    /*background-color: #3aafa0; */
    background-color: #f2f2f2;
    opacity: 0.8;
}
.menu {
    position: fixed;
    top:20px;
    right: 5px;
    z-index: 999;
    /*background-color: #3aafa0; */
    background-color: #f2f2f2;
    
}
.menu>li>a{
    border-right: 2px solid #2f2f2f;
    /*border-left: 2px solid white;*/
}

.menu li:hover{
    color:#3aafa0;
}

.g{
    border: 5px solid #f2f2f2;
}

.gr{
    border: 5px solid #3aafa0;
}

.signup_arrow{
    background: #2f2f2f url(../images/signup_arrow2.png)  no-repeat center center;
    position: fixed;
    right: 30px;
    top:44%;
    z-index: 99999;
    height: 50px;
    width: 50px;
    /*opacity: 0.5;*/
}

.signup_arrow:hover{
    /*opacity: 0.8;*/
}

.po>li>a{
    border-left: none;
}

.za {
    border: none !important;
    
}

.text-logo{
    font-size: 1.8em;
    /*word-wrap: break-word;*/
    font-style: bold;
    text-align: left;

}

#flogo{
    color:#000000;
    width: 100px;
    height: 100px;   
    position: fixed;
    bottom: 60px;
    /*left: 50px;*/
    right: 25px;
    background:  url(../images/faksup_logo_small.png)  no-repeat center center;
    
    /*opacity: 0.1;*/
    /* background color transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
 
    cursor: pointer;
}

.vlogo{
    margin-left: -50px;
}

.contact{
    font-size: 1.6em;
}



.not-found{
    height: auto;
    font-family: SketchFlow;
}

.not-found h1{
    font-family: SketchFlow;
    font-size: 3em;
}

.nf{
    font-size: 1.2em;
    z-index: 1;
}
.not-found a{
    text-decoration: none;
}

pre>p {
    font-size: 18pt;
    color: #3aafa0;
    display: inline;
}

.mobile-menu{
    position: fixed;
    padding: 5px;
    top:0px;
    right:0px;
    width: auto;
    height: auto;
    visibility: hidden;
    z-index: 999999999999;
    font-size: 16pt;
    text-decoration: none;
    color: black;
}

.mobile-menu a{
    color: #000000;
}

.mobile-menu a:hover{
    text-decoration: none;
    color: #3aafa0;
}

.ml{
   
    visibility: hidden;
    display: none;
}

.mt{
    font-size: 1.8em;
    /*word-wrap: break-word;*/
    font-style: bold;
    text-align: çenter;
    visibility: hidden;
    display: none;
}

.hr{
    visibility: visible;
}

@media screen and (max-width: 1500px) {
    .row{
    padding-top: 85px;
    padding-bottom: 85px;
    }

    .text-logo{
        width: 300px;
    }
}

@media screen and (max-width: 1455px) {
    .text-logo{
        width: 300px;
    }

}

@media screen and (max-width: 1325px) {
     .ml{
        visibility: visible;
        display: block;
        
    }

    .mt{
        visibility: visible;
        display: block;
    }

    .vlogo{
        visibility: hidden;
    }
    
    .text-logo{
        visibility: hidden;
    }

    .hr{
        visibility: hidden;
    }

    .menubar{
        height: 190px;
        padding-top: 75px;

    }

    .menu{
        margin: 0 auto;
    }

    .mh{
        padding-top: 100px;
    }

    .row{
    padding-top: 185px;
    padding-bottom: 185px;
    }
}

@media screen and (max-width: 878px) {
     .menu{
        visibility: hidden;
    }

    .mobile-menu{
        visibility: visible !important;
        background-color: #f2f2f2;
        opacity: 0.8;
    }

    .mobile-menu:hover{
        text-decoration: none;
    }

     .ml{
        visibility: visible;
        display: block;
    }

    .mt{
        visibility: visible;
        display: block;
    }

    .vlogo{
        visibility: hidden;
    }
    
    .text-logo{
        visibility: hidden;
    }

    .hr{
        visibility: hidden;
    }

    .menubar{
        height: 105px;
        padding-top: 0;
    }

}


@media screen and (max-width: 768px) {
    /*.menu{
        visibility: hidden;
    }

    .mobile-menu{
        visibility: visible !important;
        background-color: #f2f2f2;
        opacity: 0.8;
    }

    .mobile-menu:hover{
        text-decoration: none;
    }*/

    #map-canvas{
        width: 100%
    }

/*
    .ml{
        visibility: visible;
        display: block;
    }

    .mt{
        visibility: visible;
        display: block;
    }

    .vlogo{
        visibility: hidden;
    }
    
    .text-logo{
        visibility: hidden;
    }

    .hr{
        visibility: hidden;
    }

    .menubar{
        height: 105px;
    }
    */
}